## nginx.conf ##

pid         {{ ansible_env.HOME }}/Library/nginx/nginx.pid;
error_log   {{ ansible_env.HOME }}/Library/Logs/nginx/error.log;

worker_processes  1;
worker_rlimit_nofile 2048;

events {
    worker_connections  1024;
}

http {
    ## Basic Settings ##
    client_body_timeout     30s;
    client_header_timeout   10s;
    keepalive_timeout       60s;
    send_timeout            60s;
    sendfile                on;
    tcp_nodelay             on;
    tcp_nopush              on;
    ## MIME ##
    include         /opt/local/etc/nginx/mime.types;
    default_type    application/octet-stream;
    ## ACCESS LOG ##
    access_log      {{ ansible_env.HOME }}/Library/Logs/nginx/access.log;
    ## GZIP ##
    gzip            on;
    gzip_comp_level 5;
    gzip_min_length 1024;
    gzip_types
        application/javascript
        application/json
        application/rss+xml
        application/xhtml+xml
        application/xml
        image/bmp
        image/svg+xml
        image/x-icon
        text/cache-manifest
        text/css
        text/plain;
    ## Temporary directories ##
    client_body_temp_path   {{ ansible_env.HOME }}/Library/Caches/nginx/client_body_temp;
    fastcgi_temp_path       {{ ansible_env.HOME }}/Library/Caches/nginx/fastcgi_temp;
    proxy_temp_path         {{ ansible_env.HOME }}/Library/Caches/nginx/proxy_temp;
    scgi_temp_path          {{ ansible_env.HOME }}/Library/Caches/nginx/scgi_temp;
    uwsgi_temp_path         {{ ansible_env.HOME }}/Library/Caches/nginx/uwsgi_temp;
    ## SERVER ##
    server {
        server_name localhost;

        listen localhost:8080;
        listen [::1]:8080;

        root    {{ ansible_env.HOME }}/Sites;

        location / {
        }
    }
}
