<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>Label</key><string>nyx.webserver</string>
      <key>Disabled</key><false/>
      <key>RunAtLoad</key><true/>
      <key>KeepAlive</key><false/>
      <key>ProgramArguments</key>
      <array>
         <string>/opt/local/sbin/nginx</string>
         <string>-c</string>
         <string>{{ ansible_env.HOME }}/Library/nginx/nginx.conf</string>
         <string>-g</string>
         <string>daemon off;</string>
      </array>
      <key>StandardErrorPath</key><string>{{ ansible_env.HOME }}/Library/Logs/nginx/stderr.log</string>
   </dict>
</plist>